.footer{
    background-color:rgba(0, 0, 0, 0.836);
    color: rgba(255, 255, 255, 0.884);
    padding-right: 20px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
h3{
    color: #6d8ce8;
    border-bottom: 1px solid #a6a6a6;
    padding-bottom: 8px;
}