<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <form #f="ngForm" (ngSubmit)="change(f)" autocomplete="off">
            <div class="form-group">
                <label for="password">رمز عبور:</label>
                <input type="password" required ngModel autocomplete="off" class="form-control" id="password"
                    minlength="6" maxlength="6" #password="ngModel" placeholder="رمز عبور شش رقمی" name="password">
                <div class="help-block alert-danger" *ngIf="password.invalid && password.touched">
                    <div *ngIf="password.errors.required">وارد کردن رمز عبور الزامی است</div>
                    <div *ngIf="password.errors.minlength || password.errors.maxlength">رمز عبور شش رقمی
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="passwordverify">تکرار رمز عبور:</label>
                <input type="password" required ngModel autocomplete="off" class="form-control" id="passwordverify"
                    minlength="6" maxlength="6" #passwordverify="ngModel" placeholder="تکرار رمز عبور"
                    name="passwordverify">
                <div class="help-block alert-danger" *ngIf="passwordverify.invalid && passwordverify.touched">
                    <div *ngIf="passwordverify.errors.required">وارد کردن تکرار رمز عبور الزامی است</div>
                </div>


            </div>
            <div *ngIf="errormode" class="alert alert-danger" role="alert">
                {{errormessage}}
            </div>

            <button type="submit" class="btn btn-primary" id="btn" [disabled]="!f.valid">ثبت</button>

        </form>
    </div>
</div>