<div class="container" id="bg">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">

            <a class="navbar-brand" [routerLink]="['maghz']"><img src="../assets/img/maghz.png"><br>درمانگاه
                مغزواعصاب</a>
        </div>
        <div class="col-md-2 col-md-offset-1">

            <a class="navbar-brand" [routerLink]="['ghalb']"><img src="../assets/img/ghalb.png"><br>درمانگاه قلب</a>
        </div>
        <div class="col-md-2 col-md-offset-1">

            <a class="navbar-brand" [routerLink]="['ortoped']"> <img src="../assets/img/ortoped.png"><br>درمانگاه
                ارتوپد</a>
        </div>
        <div class="col-md-2 col-md-offset-1">

            <a class="navbar-brand" [routerLink]="['zanan']"><img src="../assets/img/zanan.png"><br>درمانگاه زنان</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1">

            <a class="navbar-brand" [routerLink]="['atfal']"><img src="../assets/img/atfal.png"><br>درمانگاه اطفال</a>
        </div>
        <div class="col-md-2 col-md-offset-1">

            <a class="navbar-brand" [routerLink]="['dakheli']"><img src="../assets/img/dakheli.png"><br>درمانگاه
                داخلی</a>
        </div>
        <div class="col-md-2 col-md-offset-1">

            <a class="navbar-brand" [routerLink]="['post']"><img src="../assets/img/post.png"><br>درمانگاه پوست ومو</a>
        </div>
        <div class="col-md-2 col-md-offset-1">

            <a class="navbar-brand" [routerLink]="['cheshm']"><img src="../assets/img/cheshm.png"><br>درمانگاه چشم</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>